<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tea Icon -->
    <link rel="icon" href="{{ url_for('static',filename='images/chole-icon.jpg') }}">
    <!-- custom styles -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>Chole Bhature</title>
</head>
<body>
    <section id="navigation">
        <div class = "first-div">
            <h3>FoodSnap</h3>
            <div class="navigation-buttons">
                <button type="button" class="btn btn-light btn-round">Login</button>
                <button type="button" class="btn btn-danger btn-round">Sign Up</button>
            </div>
        </div>
    </section>
    <section id="item-page">
        <div class="second-div">
            <h2 class="recipe-idn">Image identified as Chole Bhature!!!</h2>
            <img class='recipe-img pav-img' src='static\images\chole.jpg' alt='chole-photo'>
            <div class='third-div chai-div'>
                <h3> Requirements </h3>
                <ol class='recipe'>
                    <li>1 cup Dried white chickpeas</li>
                    <li>Salt</li>
                    <li>1 medium or 1 cup Red onion</li>
                    <li>½ inch Ginger</li>
                    <li>2 medium Tomato, cloves, Garlic, Green cardamoms, Green Chilli</li>
                    <li>2 tablespoons Oil</li>
                    <li>1 teaspoon Cumin seeds</li>
                    <li>1 inch Cinnamon stick</li>
                    <li>¼ teaspoon Turmeric powder</li>
                    <li>1 teaspoon Coriander powder, Cumin Powder, Amchur Powder, Anardhana Powder, Red chili powder</li>
                    <li>½ teaspoon Chole masala</li>
                    <li>2 tablespoons Cilantro or coriander leaves</li>
                </ol>
                <h3> Recipe </h3>
                <ol class='recipe'>
                    <li>Wash the dried chana or chickpeas under running cold water till water runs clear. Soak them in enough water for at least 8 hours or overnight. Discard the soaking water, take chickpeas into pressure cooker, add fresh 2 cups of water. Close the lid, put the weight on. Turn the gas heat.</li>
                    <li>Cook till the chickpeas are cooked and soft. Let the pressure go down by itself and then open the lid. While chana are boiling. Make smooth paste from onion, ginger, garlic, green chili and tomato.</li>
                    <li>Heat the oil in pan on medium heat. Once hot add cumin seeds and let them sizzle. Then salute in whole spices (cinnamon stick, cloves, cardamom) for a minute. Then add prepared paste along with salt. Let it cook till all the moisture evaporates and oil starts to leave from the sides.</li>
                    <li>Scrap the sides of the pan. Add all the spice powders. Mix well and cook for a minute. Add water from boiled chana as per your liking gravy consistency and bring it to a boil. Add Boiled chana. Mix well. Let it simmer for 6-7 minutes. Add chopped cilantro leaves, mix. Turn off the stove. Fry bhatura at the time of serving.</li>
                </ol>
            </div>
        </div>
    </section>
</body>
</html>